<!DOCTYPE html>
<html ng-app="myApp">
    <head>
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular-route.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.0.4/socket.io.js"></script>

        <script src="./js/routes.js"></script>
        <script src="./js/services/userService.js"></script>
        <script src="./js/services/socketFactory.js"></script>
        <script src="./js/services/registerFactory.js"></script>

        <script src="./js/controllers/chatController.js"></script>
        <script src="./js/controllers/homeController.js"></script>
        <script src="./js/controllers/roomController.js"></script>
        <script src="./js/controllers/signinController.js"></script>
        <script src="./js/controllers/signupController.js"></script>
        
        <script src="./js/controllers/emailController.js"></script>

        <link rel="stylesheet" href="./css/home.css">
    </head>
    <body style="background-image:url('./resources/background.jpg');background-size:cover;">


        <div ng-view></div>

    </body>
</html>
