<div id="signup" class="signuppage" ng-show="signupshow">
        <img id="lucyImg" src="./resources/logosmall.png" alt="logosmall">
        <div class="signupblock">
            <div align="right" style="padding: 5px;">
                <button id="signinbt2" ng-click="signinToggle2()">Sign In</button>
            </div>
            <div class="signupform" align="center" style="padding-left: 60px;
            padding-right: 60px;">
                <h2>Sign Up</h2>
                <form id="singupForm" align ="left" style="overflow-y: scroll; height: 600px;">
                    Email:
                    <input type="email" name="email" id = "email" ng-model="user.email" placeholder=
                    "Enter your Email Here..."><br>
                    Username:
                    <input type="text" name="username" ng-model="user.username" placeholder=
                    "Enter your Username Here..."><br>
                    Password:
                    <input type="password" name="password" ng-model="user.password" placeholder=
                    "Enter your Password Here..."><br>
                    Employer:
                    <input type="text" name="employer" ng-model="user.employer" placeholder=
                    "Enter your Employer Here..."><br>
                    Department:
                    <input type="text" name="department" ng-model="user.department" placeholder=
                    "Enter your Department Here..."><br>
                    Team:
                    <input type="text" name="team" ng-model = "user.team" placeholder=
                    "Enter your Team Here..."><br>
                    <center><button id="signupinput" class="purplebt" ng-click="roomToggle()">SIGN UP</button></center>
                </form>
            </div>
        </div>
    </div>
