html {
    width:100%;
    height:100%;
}
body{
    background-image: url("./resources/background.jpeg");
    background-size: 100%;
    margin:0px;
}

div#profile {
    float: left;
    width: 100x;
	padding:10px;
	background-color: rgb(134, 130, 130);
}

.flex-container {
    display: -webkit-flex;
    display: flex;  
    -webkit-flex-flow: row wrap;
    flex-flow: row wrap;
    text-align: center;
}

.flex-container > * {
    padding: 15px;
    -webkit-flex: 1 100%;
    flex: 1 100%;
}

.article {
    text-align: center;
    margin: 0;
    background: rgba(255, 254, 254, 0.9);
}

header {color:white;}
footer {background: #aaa;color:white;}
.nav {background:#eee;}

.nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}
.nav ul a {
    text-decoration: none;
}

.nav li {
    padding: 8px;
    margin-bottom: 7px;
    background-color: #33b5e5;
    color: #ffffff;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
}
.nav li:hover {
    background-color: #0099cc;
}

body {
    font-family: 'Roboto', sans-serif;
}

#heading h1 {
    font-family: 'Roboto', sans-serif;
    font-size: 50px;
    font-weight: bold;
    text-align: center;
    text-transform: uppercase;
    color: grey;
  }

#heading h2 {
    font-family: 'Roboto', sans-serif;
    font-size: 32px;
    text-align: center;
    text-transform: uppercase;
    color: grey;
  }

/* ANIMATIONS ================ */
@-webkit-keyframes inputHighlighter {
	from { background:#5264AE; }
  to 	{ width:0; background:transparent; }
}
@-moz-keyframes inputHighlighter {
	from { background:#5264AE; }
  to 	{ width:0; background:transparent; }
}
@keyframes inputHighlighter {
	from { background:#5264AE; }
  to 	{ width:0; background:transparent; }
}


@media all and (min-width: 768px) {
    .nav {text-align:left;-webkit-flex: 1 auto;flex:1 auto;-webkit-order:1;order:1;}
    .article {-webkit-flex:5 0px;flex:5 0px;-webkit-order:2;order:2;}
    footer {-webkit-order:3;order:3;}
}

/*css styles for moments*/


[class*="postBlock-"] {
    margin:0 10px 10px 0;
	display: flex;
  	flex-direction: row;
    padding:10px;
    background-color: #eee;
    text-align: end;
    
}

[class*="contentBox-"] {
    
    padding: 10px;
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    text-align: left;
    /*border: 1px solid blue;*/
}

.postBlock-2 {
    flex-direction: column;
}

.contentBox-1 {
    padding: 0px;
    width: 100%;
    height: 100%;
}

.contentBox-2 {
    width: 100%;
    font-size: 20px;
    color: #ffffff;
    border-bottom: 0.5px solid #ffffff;
    border-top: 0.5px solid #ffffff;
    background-color: rgb(114, 183, 194);
}

.contentBox-3 {
    width: 100%;
    cursor:pointer;
    background-color: rgb(229, 243, 245);
    border-bottom: 0.5px solid grey;
    /*border-top: 0.5px solid grey;*/
}

.contentBox-3:hover {
    background-color: rgb(183, 239, 247);
}

a:link {
    color: #ffffff;
    text-decoration: none;
}

a:visited {
    color: #ffffff;
    text-decoration: none;
}

a:hover {
    text-decoration: none;
}

a:active {
    text-decoration: none;
}

#alphabets {
    float: left;
    display: block;
    width: 40px;
    height: 25px;
    color: #ffffff;
    text-align: center;
    background-color: #33b5e5;
    box-shadow: 5px 2px 15px grey;
    margin:0 5px 5px 0;
    cursor:pointer;
}

#alphabets:hover {
    background-color: #0099cc;
}

/*Add add friend button*/
#addBtn {
    float: right;
    display: block;
    width: 100px;
    height: 25px;
    color: #ffffff;
    text-align: center;
    background-color: #33b5e5;
    box-shadow: 5px 2px 15px grey;
    cursor:pointer;
}

#addBtn:hover {
    background-color: #0099cc;
}

/*responsive grid view columns*/
* {
    box-sizing: border-box;
}
.row::after {
    content: "";
    clear: both;
    display: table;
}
[class*="col-"] {
    float: left;
    padding: 15px;
}
.col-1 {width: 8.33%;}
.col-2 {width: 16.66%;}
.col-3 {width: 25%;
    height: 100%;
}
.col-4 {width: 33.33%;}
.col-5 {width: 41.66%;}
.col-6 {width: 50%;}
.col-7 {width: 58.33%;}
.col-8 {width: 66.66%;}
.col-9 {width: 75%;}
.col-10 {width: 83.33%;}
.col-11 {width: 91.66%;}
.col-12 {width: 100%;
    background: #aaa;color:white;
    text-align: center;
}